@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
}
textarea{
    width :80%;
    height:10vh;
    display:block;
    padding:1rem;
}
 
 
 
 
 #divOutput{
     border: 2px solid black;
     height:10vh;
     display:block;
     margin:1rem;
     padding:1rem;
     opacity: 0.5;
     background-color: rgb(224, 224, 162);
 }